/*******************************************************
	MAIN
*******************************************************/

div.main {
	background-image: url(../images/backgroundmobile.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	margin: 0px;
	font-family: 'Cantarell', sans-serif;
}

div.main h1 {
	font-family: 'Fjalla One', sans-serif;
	position: absolute;
	width: 100%;
	top: 7.5%;
	font-size: 2.5em;
	margin-top: 0px;
	margin-bottom: 5px;
	border: 1px solid white;
	border-left: none;
	border-right: none;
	color: #FFFFFF;
	text-decoration: normal;
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	overflow: hidden;
	white-space: pre;
	text-shadow: 0 0 10px #FFFFFF , 0 0 20px #CFCECE , 0 0 30px #CFCECE , 0 0 40px #FF4200 , 0 0 70px #FF4200 , 0 0 80px #FF4200 , 0 0 100px #FF4200;
}

div.main a {
	bottom: 5%;
	font-size: 2.25em;
	border: none;
	color: #FFFFFF;
	text-decoration: none;
	-o-text-overflow: clip;
	text-overflow: clip;
	white-space: pre;
	text-shadow: 0 0 10px #FFFFFF , 0 0 20px #FFFFFF , 0 0 30px #FFFFFF , 0 0 40px #00FCFF , 0 0 70px #00FCFF , 0 0 80px #0066FF , 0 0 100px #0066FF;
	position: absolute;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	border: 1px solid white;
	width: 165px;
	overflow-y: hidden;
	border-radius: 25px;
}

div.main a:hover {
	text-shadow: 0 0 10px #FFFFFF , 0 0 20px #FFFFFF , 0 0 30px #FFFFFF , 0 0 40px #FF4200 , 0 0 70px #FF4200 , 0 0 80px #FF4200 , 0 0 100px #FF4200;
	width: 100%;
	border-radius: 0px;
}

/******************************************************
	Forms
******************************************************/

#login-form {
	background-color:rgba(0, 0, 0, 0.75);
	margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
    -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 10px;
    border: 1.5px solid white;
}

h1.form-title {
	font-weight: lighter;
}

label.login-form-label {
	color: white;
	text-shadow: 2px 2px 3px #000000;
}

#login-form div.form-input {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 2px auto 5px auto;
	width: 100%;
	flex-direction: column;
	padding: 0 10px;
}

#login-form div.form-input input {
	position: relative;
	background-color:rgba(0, 0, 0, 0.0);
	border: none;
	border-bottom: 1.5px solid white;
	width: 100%;
	padding: 5px;
	font-family: 'Merriweather', serif;
	font-size: 1.15em;
	clear: right;
	margin-bottom: 10px;
	color: white;
}

/* change placeholder color */
#login-form div.form-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #D5D8D9;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #D5D8D9;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #D5D8D9;
}
:-moz-placeholder { /* Firefox 18- */
	color: #D5D8D9;
}

div.form-error,
div.form-warning {
	color: white;
	font-size: .75em;
}

#login-form-btn {
	background-color:rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: 1.5px solid white;
	margin: 10px auto;
	-moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
	border-radius: 10px;
}

#login-form-btn:hover {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
}



form.register-form {
	background-color:rgba(0, 0, 0, 0.75);
	margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
    -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 0px 20px;
    border: 1.5px solid white;
}

/* containers for each input and label */
form.register-form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

form.register-form div input {
	position: relative;
	background-color:rgba(0, 0, 0, 0.0);
	border: none;
	border-bottom: 1.5px solid white;
	width: 100%;
	padding: 5px;
	font-size: 1.15em;
	clear: right;
	color: white;
	align-self: center;
}

/* change placeholder color */
form.register-form div input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #D5D8D9;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #D5D8D9;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #D5D8D9;
}
:-moz-placeholder { /* Firefox 18- */
	color: #D5D8D9;
}

/* error message span */
form.register-form span {
	color: white;
	font-size: .75em;
}

#register-btn-container {
	flex-direction: row;
	align-items: center;
	width: 50%;
}

#register-form-submit-btn,
#register-form-clear-btn {
	background-color:rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: 1.5px solid white;
	margin: 10px auto;
	-moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    border-radius: 10px;
}

#register-form-submit-btn:hover,
#register-form-clear-btn:hover {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
}

/*****************************
	MAIN: RESPONSIVE
*****************************/